body {
    font-family: Helvetica;
    background-color: lightblue;
    margin: 0;
    padding: 0;
}

ul {
    padding-top: 0;
    margin-top: 0;
}

h3 {
    padding-bottom: 0;
    margin-bottom: 0;
}

img {
    border-radius: 1rem;
    box-shadow: 8px 8px 10px #aaa;
}
select {
    border-radius: .3em;
}

.text-center {
    text-align: center;
}

.container {
    padding: 1em;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: black;
    color: grey;
}

.top-nav ul {
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
    list-style-type: none;
}

.top-nav li {
    padding-right: 1rem;
}

.top-nav a {
    color: white;
} a:hover {
    color: grey;
}

.logo {
    font-weight: bold;
    font-size: 28px;
}

.box-title {
    grid-column: 1/3;
}

.balance {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bank, .work, .laptops, .info {
    box-shadow: 8px 8px 10px #80aacc;
    background-color: #FEFFF9;
    border-radius: 1rem;
}

.bank, .work {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

@media only screen and (min-width: 600px) {
    .page {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 1rem;
        column-gap: 1rem;
    }

    .top-nav {
        display: flex;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        margin-bottom: 1rem;
    }

    .info {
        grid-template-columns: 1fr;
    }
  }

#loan-balance, #loan-label, #pay-loan-button {
    visibility: hidden;
}

.button-big {
    grid-column: 1/3;
}

.button-blue {
    background-color: #008CBA;
}

.button-green {
    background-color: #4CAF50;
}

.button-purple {
    background-color: #bca9e1;
}

.button-yellow {
    background-color: #e7eca3;
}

.button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 0.5rem;
}

.button:hover {
    filter: brightness(85%);
}

.button:active {
    filter: brightness(85%);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2em;
    text-align: center;
    color: white;
}